#about {
	background-color: antiquewhite;
	height: 100vh;
}

.about_image {
	float: left;
	margin-right: 23px;
}

.about_description {
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 768px) {
	#about {
		height: 100%;
	}
}
