# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# Python
**/venv/
**/.env
**/__pycache__/
*.pyc
*.pyo
**/staticfiles/
**/db.sqlite3

# Node
**/node_modules/
**/.env.local
**/dist/