#text1 {
	background-color: lightblue;
}

#text1 + p {
	background-color: lightgreen;
}

#text1 ~ p {
	background-color: lightseagreen;
}

#parent > p {
	background-color: lightpink;
}

input:focus {
	background-color: blueviolet;
	outline: none;
	border: none;
}

input[type="email"]:invalid {
	border: red;
	color: red;
	outline: none;
}
